!!!5
%html
  %head

    %title= @page_title ? @page_title + " - Sutton Open Maps" : "Sutton Open Maps"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js'}
    - unless @layer.nil?
      :javascript
        function initialize() {
          
          var ll = new google.maps.LatLng(51.3604, -0.1902);
          
          var myOptions = {
            zoom: 13,
            center: ll,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          
          var map = new google.maps.Map(document.getElementById("map"),
              myOptions);
          
          var bounds = new google.maps.LatLngBounds();       
         
  
          var url = "/maps/#{@layer.slug}.json";
          
          var windows = [];
                 
          $.get(
            url,
            function(data) {

              // Loop through each Place in the data and create a marker
              $.each (data, function() {
                
                ll = new google.maps.LatLng(this.lat, this.lng);
                
                var marker = new google.maps.Marker({
                  position: ll,
                  title: this.title,
                  map: map,
                  icon: "/icons/#{@layer.icon}"
                });
                
                
                // Build content for info window
                var content = "<p><span class='info_title'>" + this.title + "</span>"
                
                if (this.address) {
                  content += "<br />" + this.address + "<br />Phone: " + this.phone
                }
                
                content += "</p>"
                
                if (this.description) {
                  content += "<p>" + this.description + "</p>"
                }
                
                
                
                var infowindow = new google.maps.InfoWindow({
                  content: content
                });
                
                // Click event handler for info window
                google.maps.event.addListener(marker, 'click', function() {

                  // Remove other open info windows
                  $.each (windows, function() {
                    this.close();
                  });

                  infowindow.open(map, marker);
                  windows.push(infowindow);
                });
                
                
                bounds.extend(ll);
              });
              
              
              map.fitBounds(bounds);
              var ctaLayer = new google.maps.KmlLayer('http://dl.dropbox.com/u/300783/sutton%20borough%20boundary.kml');
              ctaLayer.setMap(map);
              
            }
          );
  
        }
        

  %body{ :onload => "initialize()" }

    %header
      #logo
        %h1
          Sutton Open Maps
      #nav.noprint
        %ul
          %li
            %a{ :href => '/' } Home

    %article
      = yield

    %footer
      %p
        An independent website 
        %a{ :href => 'http://adrianshort.co.uk/' }<
          designed by Adrian Short
        using
        %a{ :href => "http://www.sutton.gov.uk/index.aspx?articleid=10077" }<
          Sutton Council's open data
