!!!5
%html
  %head
    %title Sutton Open Maps
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/map.js' }

  %body{ :height => "100%" }

    = yield

    :javascript
      window.onload = function() { loadLayer('#{@first_layer.slug}'); }

    <!-- Piwik --> 
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.adrianshort.co.uk/" : "http://stats.adrianshort.co.uk/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://stats.adrianshort.co.uk/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
