!!!5
%html
  %head

    %title= @page_title ? @page_title + " - Sutton Open Maps" : "Sutton Open Maps"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
  %body
    #inner
      %h1
        Sutton Open Maps Data
  
      = yield
  
      %footer
        %p
          An independent website 
          %a{ :href => 'http://adrianshort.co.uk/' }<
            designed by Adrian Short
          using
          %a{ :href => "http://www.sutton.gov.uk/index.aspx?articleid=10077" }<
            Sutton Council's open data.
          %a{ :href => "http://github.com/adrianshort/Sutton-Open-Maps" }<
            Source code on Github

      <!-- Piwik --> 
      <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.adrianshort.co.uk/" : "http://stats.adrianshort.co.uk/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script><script type="text/javascript">
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
      </script><noscript><p><img src="http://stats.adrianshort.co.uk/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
      <!-- End Piwik Tracking Code -->
