!!!5
%html
  %head

    %title= @page_title ? @page_title + " - Sutton Open Maps" : "Sutton Open Maps"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
  %body
    #inner
      %h1
        Sutton Open Maps Data
  
      = yield
  
      %footer
        %p
          An independent website 
          %a{ :href => 'http://adrianshort.co.uk/' }<
            designed by Adrian Short
          using
          %a{ :href => "http://www.sutton.gov.uk/index.aspx?articleid=10077" }<
            Sutton Council's open data.
          %a{ :href => "http://github.com/adrianshort/Sutton-Open-Maps" }<
            Source code on Github

    :javascript    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3042981-19']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
